@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width = device-width" />

    <title>Gráficos de tipos de solicitud </title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <img src="@Url.Action("crearBarra")" alt="Gráfico de barras " />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>