@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width = device-width" />

    <title>Gráficos de tipos de solicitud </title>
</head>
<body>
   
        <div class="row">
            <div class="col l6 m12">
                <img src="@Url.Action("crearBarra")" alt="Gráfico de barras " />
            </div>
            <div class="col l6 m12">
                <img src="@Url.Action("crearPie")" alt="Gráfico " />
            </div>
        </div>
   

</body>
</html>