
@{
    ViewBag.Title = "Acceso Denegado";
}
<div class="container">


    <h2><i class="zmdi zmdi-alert-circle"></i> Acceso Denegado</h2>
    <hr />
    <div class="col s6">

        <li>
            No tienes permiso para acceder a esta página.
        </li>
        <li>
           Para mayor información contacta a un Administrador.
        </li>

    </div>
    <div class="col s6"><img src="@Url.Content("~/Imagenes/unlocked-padlock-black-security-symbol_icon-icons.com_54444.png")" width="50%" /></div>
</div>




