
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")

    <title>Inicio de sesion.</title>
    <link rel="stylesheet" type="text/css" href="Escritorio/front-end">
</head>

<body>
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card">
                <div class="card-action teal lighten-1 white-text">
                    <h3>Ingreso de sesión.</h3>
                </div>
                <form method="POST" action="/home/ingresar">
                    <div class="card-content">
                        @{
                            if (!string.IsNullOrEmpty(ViewBag.Message))
                            {
                                
                                <b style="color:red;">

                                    @ViewBag.Message

                                </b>

                            }
                        }
                        <div class="form-field">
                            <label for="username">Usuario</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <br>

                        <div class="form-field">
                            <label for="password">Clave</label>
                            <input type="password" id="password" name="password" required>

                        </div>
                        <br>

                        <div id="tipo_usuario">
                            <select name="tipo_usuario" required>
                                <option value="" disabled selected>Elige tu opción.</option>
                                <option value="1">Administrador.</option>
                                <option value="2">Cliente.</option>
                                <option value="3">Personal.</option>
                            </select>
                        </div>

                        <br>
                        <br>

                        <div class="form-field">
                            <button class="btn-large waves-effect waves-dark" style="width:100%">Ingreso.</button>
                            <br>
                            <br>
                            <button type="submit" id="btnCancelar" class="btn-large waves-effect waves-dark" style="width:100%">Cancelar.</button>

                        </div>

                    </div>
                </form>

            </div>


        </div>
    </div>
</body>

<script type="text/javascript">
    'use strict'

    $(document).ready(function() {
        $('select').not('.disabled').formSelect();
    });
    document.getElementById("btnCancelar").onclick = function() {
        location.href = "index.html";
    };
</script>

</html>
