
@{
    ViewBag.Title = "Index checklist";
}

<div class="container">
    <div class="row">
        <h3 class="center-align">Registrar checklist</h3>
        <form class="col s12" href="/checlist/Buscar" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Ingrese Nombre checklist" id="nombre" name="nombre" type="text" class="validate">
                    <label for="rut">Nombre checklist</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ingrese descripcion checklist" id="descr" name="descr" type="text" class="validate">
                    <label for="nombre">Descripción checklist</label>
                </div>

                <div class="input-field col s4">
                    <div class="center-align">
                        <button class="btn red waves-effect">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                        <button class="btn modal-trigger green" data-target="modalNuevo">Nuevo <i class="zmdi zmdi-account-add zmdi-hc-fw"></i></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
@model NoMasAccidentes.ViewModels.IndexViewModel
<div class="row">
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <th data-field="id">Checklist</th>
                    <th data-field="id">Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var check in Model.checklist)
                {
                    var datos = check.ACTIVIDAD + "||" + check.DESCRIPCION_CHECKLIST;
                    <tr>



                        <td>@check.NOMBRE_CHECKLIST</td>
                        <td>@check.DESCRIPCION_CHECKLIST</td>
                        <td><button class="btn modal-trigger blue" data-target="modalEditar" onclick="editar('@datos')"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button></td>
                        <td><button class="btn modal-trigger red" data-target="modalEliminar" id="eliminar" onclick="eliminar()"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></button></td>

                    </tr>
                }

            </tbody>

        </table>
        <div class="center-align">
            @{ Html.RenderPartial("_paginador", Model);}

        </div>


        <div id="modalNuevo" class="modal">
            <div class="modal-content">
                <div id="mensaje" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p><i class="zmdi zmdi-check zmdi-hc-fw"></i><span>Checklist registrado correctamente</span></p>
                    </div>
                </div>
                <h5>Agregar checklist</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese nombre checklist" id="txtNom" name="nombre" type="text">
                    <label for="nombre">nombre checklist</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ingrese descripcion checklist" id="txtDesc" name="desc" type="text">
                    <label for="descripcion">Descripción checklist</label>
                </div>
</div>

               


                <div class="row">
                    <div class="center-align">
                        <button class="btn modal-trigger blue" id="btnGuardarC">Guardar</button>
                        <button class="btn modal-close blue" id="btnCerrar">Limpiar</button>

                    </div>
                </div>
            </div>
        </div>

        <!--Eliminar-->
        <div id="modalEliminar" class="modal">
            <div class="modal-content">
                <div class="center-align">
                    <div id="contenidoEliminar">
                        <h5>¿Se encuentra seguro de eliminar al cliente?</h5>
                        <button class="btn green" id="btnConfirmarEliminar">Confirmar</button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                    <div id="div-alerta-eliminar" style="display:none">
                        <div class="alert card green white-text">
                            <div class="card-content">
                                <p id="mensajeEliminar"></p>
                            </div>
                        </div>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Editar-->
        <!-- Modal Editar -->
        <div id="modalEditar" class="modal">
            <div class="modal-content">
                <div id="div-alerta" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensaje"></p>
                    </div>
                </div>
                <h5>Agregar Cliente</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el rut" id="editTxtRut" name="rut" type="text" class="validate">
                    <label for="rut">rut</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el nombre" id="editTxtNombre" name="nombre" type="text" class="validate" required>
                    <label for="nombre">Nombre del cliente</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Apellido" id="editTxtApellido" name="apellido" type="text" class="validate" required>
                    <label for="apellido">Apellido</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Telefono" id="editTxtTelefono" name="telefono" type="number" class="validate" required>
                    <label for="telefono">Telefono</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Ingrese la Direccion" id="editTxtDireccion" name="direccion" type="text" class="validate" required>
                    <label for="direccion">Direccion</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Correo Electronico" id="editTxtCorreo" name="correo" type="email" class="validate" required>
                    <label for="correo">Correo Electronico</label>
                </div>
                
    </div>
</div>


<script>
    $('select').formSelect();


        $("#btnGuardarC").click(function () {

            $("#mensaje").show();

            var url = "@Url.Action("Crear", "checklist")";
            var txtNom = $("#txtNom").val();
            var txtDesc = $("#txtDesc").val();
            var data = {
                nombre: txtNom, desc: txtDesc
            };
            $.post(url, data).done(function (data) {
                if (data.ok) {
                    $("#div-alerta").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                } else {
                    $("#div-alerta").removeClass("alert card green white-text").addClass("alert card green white-text").slideDown(200);
                }
                $("#mensaje").html(data.mensaje);
                $("#div-alerta").show();

            });

        });


            var idCliente = null;
            function eliminarC(id) {
                idCliente = id;

            };




        $("#btnConfirmarEliminar").click(function () {
            var url = "@Url.Action("EliminarC", "AdministrarCliente")";
            var data = { id: idCliente };
            $.post(url, data).done(function (data) {
                $("#mensajeEliminar").html(data.mensaje);
                $("#div-alerta-eliminar").show();
                $("#contenidoEliminar").hide();
            });

        });



    function editar(datos) {

        d = datos.split('||');
        $('#editTxtRut').val(d[0]);
        $('#editTxtNombre').val(d[1]);
        $('#editTxtApellido').val(d[2]);
        $('#editTxtTelefono').val(d[3]);
        $('#editTxtDireccion').val(d[4]);
        $('#editTxtCorreo').val(d[5]);
        $("#editSelectTipoRubro").select.val(d[6]);
        $("#editSelectTipoRubro").formSelect();

        };

    
</script>